<!DOCTYPE html>
<html>
  <head>
    <title>Museum of Modern  Art</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <header>
      <nav>
        <h1>MoMA</h1>
      </nav>
      <hr>
    </header>

    <%= yield %>

    <footer>
      <hr>
      &copy; Art School Dropout Productions 2022
    </footer>

  </body>
</html>
